body{
    background-image: url(https://lncimg.lance.com.br/cdn-cgi/image/width=828,quality=75,fit=pad,format=webp/uploads/2024/08/Rebeca-Andrade-4-scaled-aspect-ratio-512-320-2.jpg);
    background-size: 90%;
}
h2{
    color: rgb(253, 253, 253);
   
}
p{
    color: rgb(255, 255, 255);
    
}