body{
    background-image: url(https://lorena.r7.com/public/assets/img/postagens/post_37201.jpg);
    background-size: 90%;
    
    
 
}

h2{
    color: aliceblue;
    
}
p{
    color: aliceblue;
}