body{
    background-image: url(https://conteudo.imguol.com.br/c/esporte/ba/2023/06/16/thaissa-jogadora-de-volei-da-selecao-brasileira-em-jogo-contra-a-servia-pela-liga-das-nacoes-1686917727550_v2_1920x1279.jpg);
    background-size: 98%;
    
}

h2{
    color: black;
    background-color: rgb(230, 222, 177);
    border-radius: 6px;
}
p{
    color: black;
    background-color: rgb(230, 222, 177);
    border-radius: 6px;
}